body
{
	background-image: url('Shopping.jpg');
}
h1
{
	color: red;
	font-size: 100px;
	text-align: center;
}
h2
{
	color: red;
	font-size: 50px;
	text-align: center;
}


.buy
{
	color: lavender;
	font-family: cursive;
	text-align: center;
	font-size: 100px;
}
.credits
{
	color: dodgerblue;
	font-family: cursive;
	text-align: center;
	font-size: 25px;
}